page-tab1 {
  .tab1 {
    background: #56CA96;
  }
  #data {
    color: #488aff;
  }
  #map {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
  }
  #chart_canvas {

    height: 300px;
    width: 100%;
  }
}
