page-tab1 {
  #data {
    color: #488aff;
  }
  #map {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
  }
  .col-md-6 {
    width: 90%;
  }
  .row_chart {
    height: 45.5%;
    width: 100%;

  }
}
