<ion-header>
  <ion-title>User Portal</ion-title>
  <ion-navbar>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="CityFilter" (ionInput)="filterCity($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
  <h1>Select city for you</h1>
    <ion-row>
        <ion-item *ngIf="lat!=null&&lng!=null&&currentCity!=null"> Your localisation is {{currentCity}}</ion-item>
        <ion-item *ngIf="lat==null||lng==null||currentCity==null"> Check your localisation</ion-item>
      <ion-col>
        <button *ngIf="lat!=null&&lng!=null" ion-button round full (click)="restart()">Restart</button>
        <button *ngIf="lat==null||lng==null" ion-button round full (click)="myLocation()">Locate me</button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let city of cityList">
      <ion-col>
        <ion-item full *ngIf="!isOnList(city)" (click)="addActionSheet(city.name)">{{city.name}}</ion-item>
        <ion-item full *ngIf="isOnList(city)" (click)="deleteActionSheet(city.name)">{{city.name}}</ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
